.product-list{
    width: 100%;
    max-width: 1326px;  
    margin: 0 auto;
}

h4{
    text-align: center;
    padding: 60px;
}


.vitrine{
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    padding-bottom: 24px;
}

.vitrine div {
    width: 21%;
    height: 450px;
    border: 1px solid #99999957;
    box-shadow: 0 1px 3px 0 rgba(0, 0 ,0 ,0.05);
    cursor: pointer;
    transition: .8s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.vitrine div:hover {
    box-shadow: 1px 7px 20px 0px rgba(0, 0, 0, 0.21);
    transform: translateY(20px);
    transition: all 0.4s;
}


.vitrine div img{
    width: 80%;
    margin: 0 auto;
}


.vitrine div h5{
 text-align: center ;
}

.vitrine div p{
    text-align: center;
}


.vitrine div button {
    border: 0px;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    height: 60px;
    background: #ef7560;
}




@media only screen and (max-width: 600px) {


    .vitrine {
        flex-direction: column;
    }
    
    div {}
    
    .vitrine div {
        width: 97%;
        margin: 0 auto;
    }
    
    



}